.video-page {
    background-color: #f0f0f0;
    min-height: 100vh;
    padding: 20px;
    
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

nav {
    margin-bottom: 20px;
}

