.navbar {
    width: 100%;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 16px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.7) 10%, transparent);
    z-index: 1000;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar-left img {
    width: 90px;
}

.navbar-left ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar-left ul li {
    cursor: pointer;
}

.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    max-width: 400px;
}

.search-box .icons {
    width: 20px;
    margin: 2px;
    cursor: pointer;
}

.search-box input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
}

