
.pagination-container {
    position: fixed;
    bottom: 40px;
    width: 100%;
}
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    display: inline-block;
    margin-right: 10px;
}

.pagination li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #3a3535;
    color: #ffffff;
    cursor: pointer;
}

.pagination li a:hover {
    background-color: #5c5757;
    color: #ffffff;
}

.pagination li.active a {
    background-color: #006400;
    color: #ffffff;
}
