.content {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin-right: 320px; /* 関連動画の幅と合わせるために右側のマージンを追加 */
    max-width: calc(100% - 340px); /* 関連動画の幅を含めないコンテンツの最大幅を設定 */
}

.related-videos {
    position: fixed;
    top: 50%;
    right: 20px; /* 右側の余白を設定 */
    transform: translateY(-50%);
    width: 300px; /* 幅を設定 */
    max-height: calc(100% - 120px); /* コンテンツの上下余白を考慮して最大高さを設定 */
    overflow-y: auto; /* 高さを超えた場合にスクロールバーを表示 */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #2c2c2c; 
    z-index: 1000; /* navbarよりも前面に表示するためにz-indexを設定 */
}

@media (max-width: 600px) {
    .content {
        margin-right: 0; /* スマートフォンサイズの場合は関連動画が非表示なのでマージンをリセット */
    }

    .related-videos {
        display: none; /* スマートフォンサイズの場合は非表示にする */
    }
}

@media (min-width: 601px) and (max-width: 1630px) {
    .related-videos {
        width: 250px; /* 幅が1630pxまでの場合は幅を縮小 */
    }
}
