.home {
    position: relative;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.banner-img {
    width: 100%;
    height: auto;
    display: block;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    justify-content: center;
}

.grid-item {
    padding: 16px;
    text-align: center;
}

.grid-item img {
    width: 100px;
    height: auto;
}