/* Home.css */
.home {
    position: relative;
}

.soccer-background {
    position: relative;
}

.banner-img {
    width: 100%;
    height: auto;
    display: block;
}

.soccer-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* 半透明の黒いオーバーレイ */
    z-index: 1; /* 背景画像の前面に配置 */
    pointer-events: none; /* オーバーレイがクリックを妨げないようにする */
}
