.home {
    position: relative;
    background-color: #1c1818;
    min-height: 100vh; 
    padding-bottom: 100px;
}

.navbar {
    position: fixed;
    top: 10px;
    width: 100%;
    z-index: 1000;
}

.content {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    width: calc(100% - 300px);
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    justify-content: center;
}

.grid-item {
    position: relative;
    margin-top: 80px;
    padding: 30px 8px;
    text-align: center;
    color: white;
    text-decoration-line: none;
    cursor: pointer;
}

/* grid-itemで1ページ目を2,3ページ目に統一する */
.grid-item {
    width: 266.2px;
    height: 297px;
}

.grid-item::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 50%;
    height: 50%;
    border-top: 2px solid #0f0d0d;
    border-left: 2px solid #0f0d0d;
    box-sizing: border-box; /* 全ての要素(padding margin含む)を足した値 */
    z-index: 1;
}

.grid-item::after {
    content: attr(data-date);
    position: absolute;
    top: -30px;
    left: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    z-index: 2;
}

.grid-item img {
    width: 180px;
    height: auto;
}

.grid-item h3,
.grid-item h2 {
    font-size: 1em;
}

.grid-item:hover{
    transform: translateY(-5px);
}

.pagination-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px; 
    width: 100%;
    margin-bottom: 20px; 
    margin-top: 20px; 
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    display: inline-block;
    margin-right: 10px;
}

.pagination li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #3a3535;
    color: #ffffff;
    cursor: pointer;
}

.pagination li a:hover {
    background-color: #5c5757;
    color: #ffffff;
}

.pagination li.active a {
    background-color: #006400;
    color: #ffffff;
}

.related-videos {
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translate(0, -50%); /* 第一引数は水平方向の移動、第二引数は垂直方向の移動 */
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #2c2c2c;
    z-index: 1000;
}

.related-videos > h2 {
    position: absolute;
    top: -40px;
    left: 0;
    padding: 0 10px;
    background-color: #2c2c2c;
    border-radius: 5px;
    color: white;
    font-size: 25px;
}

.video-list {
    display: flex;
    flex-wrap: wrap; /* flexコンテナの幅に収まらなくなった場合に、次の行に折り返される。 */
    justify-content: space-between;
}

.video-item {
    display: flex;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #3a3535;
}

.video-item img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.video-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    .navbar {
        display: none;
    }
    .related-videos {
        display: none; 
    }
    .content {
        width: 100%; 
        float: none; 
        max-width: calc(100% - 40px); 
        margin-left: auto; 
        margin-right: auto; 
    }

    .grid-item img {
        width: 170px;  
    }

    .grid-item h3,
    .grid-item h2 {
        font-size: 0.8em;  
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 50px;
    }
    .navbar {
        display: none;
    }
    .related-videos {
        display: none; 
    }
    .pagination-container {
        position: absolute;
        bottom: 20px;
        width: 100%;
    }
    .content {
        text-align: center;
        max-width: calc(100% - 320px);
        margin-left: auto; 
        margin-right: auto; 
    }

    .grid-item img {
        width: 150px;  
    }

    .grid-item h3,
    .grid-item h2 {
        font-size: 0.9em;  
    }
}

@media (min-width: 1025px) {
    .content {
        margin-left: 40px;
    }
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .navbar {
        display: none;
    }
}

@media (min-width: 1025px) and (max-width: 1415px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1024px) {
    .content {
        max-width: 100%;
    }
    .grid-item img {
        width: 180px;  
    }
}

@media (max-width: 1100px) {
    .related-videos {
        display: none; 
    }
    .grid-container {
        margin-left: 200px;
    }
}