.home {
    position: relative;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.banner-img {
    width: 100%;
    height: auto;
    display: block;
}

.content {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
    justify-content: center;
}

.grid-item {
    padding: 10px 0px;
    text-align: center;
}

.grid-item img {
    width: 100px;
    height: auto;
}