.home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-img {
    width: 100%;
    height: auto;
    display: block;
}

.grid-container {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
}

.grid-item {
    padding: 16px;
    text-align: center;
}

.grid-item img {
    width: 100px;
    height: auto;
}