.home {
    position: relative;
    background-color: #1c1818;
    min-height: 100vh;
}
.navbar {
    position: fixed;
    top: 10px;
    width: 100%;
    z-index: 1000;
}

.content {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
    justify-content: center;
}

.grid-item {
    padding: 80px 10px;
    text-align: center;
    cursor: pointer;
}

.grid-item img {
    width: 180px;
    height: auto;
}

.pagination-container {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    display: inline-block;
    margin-right: 10px;
}

.pagination li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #191d4c;
    cursor: pointer;
}

.pagination li a:hover {
    background-color: #666;
    color: #fff;
}

.pagination li.active a {
    background-color: #48a659;
    color: #fff;
}
