body {
    margin: 0;
    padding: 0;
    background-image: url('/public/soccer_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100%;
}

html, body, #root {
    height: 100%;
    width: 100%;
}