.facup-home {
    position: relative;
    background-color: #1c1818;
    min-height: 100vh; 
    padding-bottom: 100px;
}

.facup-content {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    width: calc(100% - 300px);
    margin-left: auto;
    margin-right: auto;
}

.facup-title {
    background-color: #3a3535;
    padding: 10px;
    margin-top: 80px;
    color: white;
    border-radius: 5px;
}

.facup-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
    margin: 0 auto;
    max-width: 1000px;
}

.facup-grid-item {
    position: relative;
    margin-top: 80px;
    padding: 30px 8px;
    text-align: center;
    color: white;
    text-decoration-line: none;
    cursor: pointer;
}

.facup-grid-item::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 50%;
    height: 50%;
    border-top: 2px solid #0f0d0d;
    border-left: 2px solid #0f0d0d;
    box-sizing: border-box; /* 全ての要素(padding margin含む)を足した値 */
    z-index: 1;
}

.facup-grid-item::after {
    content: attr(data-date);
    position: absolute;
    top: -30px;
    left: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    z-index: 2;
}

.facup-grid-item img {
    width: 180px;
    height: auto;
}

.facup-grid-item h3,
.facup-grid-item h2 {
    font-size: 1em;
}

.facup-grid-item:hover{
    transform: translateY(-5px);
}

@media (max-width: 600px) {
    .facup-grid-container {
        grid-template-columns: 1fr;
    }
    .facup-content {
        width: 100%; 
        float: none; 
        max-width: calc(100% - 40px); 
        margin-left: auto; 
        margin-right: auto; 
    }

    .facup-grid-item img {
        width: 150px;  
    }

    .facup-grid-item h3,
    .facup-grid-item h2 {
        font-size: 0.8em;  
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .facup-grid-container {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 50px;
    }
    .facup-content {
        text-align: center;
        max-width: calc(100% - 320px);
        margin-left: auto; 
        margin-right: auto; 
    }

    .facup-grid-item img {
        width: 150px;  
    }

    .facup-grid-item h3,
    .facup-grid-item h2 {
        font-size: 0.9em;  
    }
}

@media (min-width: 1025px) {
    .facup-content {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .facup-grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1025px) and (max-width: 1415px) {
    .facup-grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1024px) {
    .facup-content {
        max-width: 100%;
    }
}










