.community-home {
    position: relative;
    background-color: #1c1818;
    min-height: 100vh;
    padding-bottom: 100px;
}

.community-content {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    width: calc(100% - 300px);
    margin-left: auto;
    margin-right: auto;
}

.community-title {
    background-color: #3a3535;
}