.search-home {
    position: relative;
    background-color: #1c1818;
    min-height: 100vh;
    padding-bottom: 100px;
}

.search-content {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* wakaranu*/
    text-align: center;
    position: relative;
    width: calc(100% - 300px);
    margin-left: auto;
    margin-right: auto;
}

.search-title {
    background-color: #3a3535;
    padding: 10px;
    margin-top: 80px;
    color: white;
    border-radius: 5px;
}

.search-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
    margin: 0 auto;
    max-width: 1000px;
}

.search-container p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px - 120px;
    margin-top: 50px;
    max-width: 800px;
    background-color: #2e2b2b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-grid-item {
    position: relative;
    margin-top: 80px;
    padding: 30px 8px;
    text-align: center;
    color: white;
    text-decoration-line: none;
    cursor: pointer;
}

.search-grid-item::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 50%;
    height: 50px;
    border-top: 2px solid #0f0d0d;
    border-left: 2px solid #0f0d0d;
}





.search-grid-item img {
    width: 180px;
    height: auto;
}